<p-dialog header="Add City" [modal]="true" [visible]="visible()" (visibleChange)="onVisibleChanged($event)">
  <form [formGroup]="addCityForm">
    <div class="add-city-input-container">
      <label for="username">Name</label>
      <input pInputText id="username" autocomplete="off" formControlName="title" />
    </div>
    <div class="add-city-input-container">
      <label for="email">Population</label>
      <p-inputNumber id="email" autocomplete="off" formControlName="population" />
    </div>
  </form>
  <ng-template #footer>
    <div class="add-city-footer-container">
      <p-button label="Cancel" severity="secondary" (onClick)="onVisibleChanged(false)"></p-button>
      <p-button label="Save" severity="primary" (onClick)="onSaveCity()"></p-button>
    </div>
  </ng-template>
</p-dialog>
